
@{
    ViewBag.Title = "Appointments";
}


<div class="text-center button-text-distation1">
    <div class="main-text"><h3><font face="Franklin Gothic Heavy"><strong>  &#8734; Appointments &#8734;</strong></font></h3></div>
    <div>
        &#9832;There had to be a calendar for the administrator ...
         but, apparently, not fate...&#9832;
        <div>&#9785;</div>
    </div>
</div>