@model authorization.Models.Host
@{
    ViewBag.Title = "Host";
}

<div class="text-center button-text-distation1">
    <div class="main-text"><h3><font face="Franklin Gothic Heavy"><strong>  &#8734; Host &#8734;</strong></font></h3></div>

    <div class="main-text button-text-distation">
        <div>
            @Html.DisplayFor(host => host.Name)
        </div>
        <div>
            @Html.DisplayFor(host => host.Surname)
        </div>
        <div>
            @Html.DisplayFor(host => host.Location)
        </div>

    </div>

    @Html.ActionLink("Edit Host", "EditHost", "Host", new { area = "" }, new { @class = "btn btn-info" })

</div>