<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="authorization.Repositories.Interfaces.IDoctorsRepository, authorization" mapTo="authorization.Repositories.DoctorsRepository, authorization" />
    <register type="authorization.Repositories.Interfaces.IHostsRepository, authorization" mapTo="authorization.Repositories.HostsRepository, authorization" />
    <register type="authorization.Repositories.Interfaces.IPetsRepository, authorization" mapTo="authorization.Repositories.PetsRepository, authorization" />
    <register type="authorization.Repositories.Interfaces.IReviewsRepository, authorization" mapTo="authorization.Repositories.ReviewsRepository, authorization" />
  </container>
</unity>